li {
    display: inline-block;
    text-align: center;
    list-style:none;
    font-family: "Raleway", sans-serif;
}

body {
    background: url(https://www.apyart.com/2312-thickbox_default/bleu-pastel-fonce-peinture-acrylique.jpg);
}

#grtab {
    display: inline-block;
    padding-left : 100px;
}

#AB {
    padding-left: 200px;
}

#CD {
    padding-left: 50px;
}

h2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

#txt {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

#poff {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  padding-left: 50px;
}

#sumup {
    margin: 0 auto;
    width: 700px;
    font-family: "Raleway", sans-serif;
    text-align: center;
}